In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
df = pd.DataFrame(['A', 'B', 'B', 'C'], columns=['Col']) 
df.head()

  Col
0   A
1   B
2   B
3   C

In [3]:
df['Col2']=['K', 'S', 'V', 'N']
df

  Col Col2
0   A    K
1   B    S
2   B    V
3   C    N

In [4]:
pd.factorize(df['Col'])[1]

Index(['A', 'B', 'C'], dtype='object')

In [5]:
df['Fact'] = pd.factorize(df['Col'])[0]
df.head()

  Col Col2  Fact
0   A    K     0
1   B    S     1
2   B    V     1
3   C    N     2

In [6]:
le = LabelEncoder()
df['Lab'] = le.fit_transform(df['Col'])
df.head()

  Col Col2  Fact  Lab
0   A    K     0    0
1   B    S     1    1
2   B    V     1    1
3   C    N     2    2

In [7]:
df2 = df.copy()

In [8]:
df2 = pd.get_dummies(df2)
df2.head()

   Fact  Lab  Col_A  Col_B  Col_C  Col2_K  Col2_N  Col2_S  Col2_V
0     0    0      1      0      0       1       0       0       0
1     1    1      0      1      0       0       0       1       0
2     1    1      0      1      0       0       0       0       1
3     2    2      0      0      1       0       1       0       0

In [9]:
enc = OneHotEncoder()
train=enc.fit_transform(df2)
df3 = pd.DataFrame(train.toarray())
df3.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [10]:
enc = OneHotEncoder(sparse=False)
train=enc.fit_transform(df2)
df3 = pd.DataFrame(train)
df3.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [11]:
enc = OneHotEncoder(sparse=False)
train=enc.fit_transform(df2[['Col','Col2']])
enc_col = enc.get_feature_names(['Col','Col2'])
df3 = pd.DataFrame(train, columns=enc_col)
df3.head()

KeyError: "None of [Index(['Col', 'Col2'], dtype='object')] are in the [columns]"

In [12]:
enc = OneHotEncoder(sparse=False)
train=enc.fit_transform(df2[['Col']])
df3 = pd.DataFrame(train, columns=enc.categories_)
df3.head()

KeyError: "None of [Index(['Col'], dtype='object')] are in the [columns]"

In [13]:
rez=pd.concat([df,df3],axis=1)

In [14]:
rez

,Col,Col2,Fact,Lab,0,1,2,3,4,5,...,10,11,12,13,14,15,16,17,18,19
0,A,K,0,0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
1,B,S,1,1,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,B,V,1,1,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,C,N,2,2,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [15]:
rez.drop(['Col'],axis=1, inplace=True)

In [16]:
rez

,Col2,Fact,Lab,0,1,2,3,4,5,6,...,10,11,12,13,14,15,16,17,18,19
0,K,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
1,S,1,1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,V,1,1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
3,N,2,2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0